<div style="clear: both"/>
<hr>
    <footer id="footer">
        <p class="pull-right"><a href="#top">Вернуться к началу</a></p>
        </div>
        <nav class="links">
            <ul>
                <li class="col">
                    <h4>Bow ties shop:</h4>
                    <ul class="list">
                        <% for(var i=0; i<menu.length; i++) { %>
                            <li><a href="<%= menu[i].link %>"><%= menu[i].name %></a></li>
                        <% } %>
                    </ul>
                </li>
                <li class="col">
                    <h4>Ищите нас:</h4>
                    <ul class="list">
                        <li>
                            <a href="#" class="social-vk">
                                <img src="/img/vk-rus.png" width="35px" height="35px" />
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a>-->
            <!--<a href="http://feeds.feedburner.com/bootswatch">RSS</a>-->
            <!--<a href="https://twitter.com/thomashpark">Twitter</a>-->
            <!--<a href="https://github.com/thomaspark/bootswatch/">GitHub</a>-->
            <!--<a href="https://github.com/thomaspark/bootswatch/tree/gh-pages/swatchmaker">Swatchmaker</a>-->
            <!--<a href="http://news.bootswatch.com/post/22193315172/bootswatch-api">API</a>-->
            <!--<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=F22JEM3Q78JC2">Donate</a>-->
        </nav>
        <!--Made by <a href="#">Sverdlov Pavel</a>.<br/>-->
        <!--Contact him <a href="mailto:sverdlov24@gmail.com">sverdlov24@gmail.com</a>.<br/>-->
        <!--Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.-->
    </footer>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        init();
    });
</script>