<% include _header.ejs %>

<div class="">
    <h1>Contact</h1>
    <div class="block">
        <address>
            <strong>Почта.</strong><br>
            <a href="mailto:#">style.bowtiew@gmail.com</a>
        </address>
        <address>
            <strong>Телефон.</strong><br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <address>
            <strong>В контакте.</strong><br>
            <a href="http://vk.com/galstuk_babochka_odessa">galstuk_babochka_odessa</a><br>
        </address>
    </div>
    <div class="block-img">
        <img src="http://cs410419.vk.me/v410419922/7c67/Bzq95W1ZXQI.jpg"/>
    </div>
</div>
<% include _scripts.ejs %>

    <script type="text/javascript">
        function init(){    }
    </script>

<% include _footer.ejs %>
